{% extends 'PRO4FileBundle:File:index.html.twig' %}

{% block form %}
	<form method="post" {{ form_enctype(form) }} id="newFile">
		{{ form_row(form.name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.file) }}
		<div>
			<label for="cheatButton">File</label>
			<input id="fileURL" type="text" disabled />
			<button id="cheatButton">Browse...</button>
		</div>
		{{ form_widget(form) }}
	</form>

{% endblock %}
