{% extends 'PRO4FileBundle:File:index.html.twig' %}

{% block form %}
	<form method="post" {{ form_enctype(form) }}>
		<fieldset>
			<legend>File Form</legend>
			<ul>
				<li>{{ form_row(form.name) }}</li>
				<li>{{ form_row(form.description) }}</li>
				<li>
					{{ form_row(form.file) }}
				</li>
			</ul>
			{{ form_widget(form) }}
		
			<button type="submit">Save Event</button>
		</fieldset>
	</form>

{% endblock %}
