{% extends 'PRO4LoginBundle:Login:index.html.twig' %}

{% set action = path('register') %}

{% block header %}
	<a href="{{ path('login') }}">Login</a>
{% endblock %}

{% block onload %} onload="openSignup()"{% endblock %}

{% block form %}
		<div class='radioWrap'>
			<div id='loginWrap'>
				<a href="{{ path('login') }}">Login</a>
			</div>
			<div id='registerWrap' class='selectedMode'>
				<a href="{{ path('register') }}">Register</a>
			</div>
		</div>
		<div class="error">
			{{ form_errors(form) }}
		</div>
		
		<div class='inputsWrap'>
			{{ form_row(form.eMail) }}
			{{ form_row(form.password) }}
		</div>
		
		{{ form_widget(form) }}
{% endblock %}