{% extends 'PRO4MilestoneBundle:MilestonePlan:milestoneOverview.html.twig' %}

{% block form %}
	<form method="post" id="addMilestone">
				{{ form_row(form.name) }}
				{{ form_row(form.start_date) }}
				{{ form_row(form.end_date) }}
				{{ form_row(form.color) }}
		{{ form_widget(form) }}
	</form>
		
{% endblock %}