{% extends '::base.html.twig' %}

{% block content %}
	<h1>{{ action }} Milestone</h1>
	<form method="post">
				{{ form_row(form.name) }}
				{{ form_row(form.start_date) }}
				{{ form_row(form.end_date) }}
				{{ form_row(form.color) }}
		{{ form_widget(form) }}
		<button type="submit">{{ action }} Milestone</button>
	</form>
		
{% endblock %}