{% extends '::base.html.twig' %}

{% block content %}
	{% block form %}{% endblock %}
	<div id="addButtonContainer">
		<a onclick="openAddTodoList()" href="#" id="addNewTodoButton">Add new To-Do List</a>
	</div>
	<div id="todoWrap">
		
	
		{% for toDoList in toDoLists %}
			{% if not toDoList.completed %}
				<div class="todoContainer">
					<h1>
						{% if toDoList.department.color is defined %}
							<div class="groupIdentifier" style="background-color: #{{ toDoList.department.color }}" title="{{ toDoList.department.name }}">
								&nbsp;
							</div>
							
						{% endif %}
						{{ toDoList.name }}
						<a href="{{ path("edit_to_do_list", {"projectId" : project.projectId, "toDoListId" : toDoList.toDoListId }) }}"><img src="{{ asset('img/microicons/edit.png') }}" alt="Edit" title="Edit"  height="24" width="24"/></a>
					</h1> 
					
					<ul>
						{% for listItem in toDoList.listItems %}
							{% if not listItem.deleted %}
								{% if listItem.completed %}
									<li class="completed">
										<span>{{ listItem.name }}</span>
										{% if (toDoList.department and is_granted("EDIT", toDoList.department)) or (not toDoList.department and is_granted("EDIT", toDoList.project)) %}
											<a href="{{ path("delete_to_do_list_item", {"projectId" : project.projectId, "toDoListId" : toDoList.toDoListId, "itemId" : listItem.listItemId }) }}"><img src="{{ asset('img/microicons/delete_black.png') }}" alt="Delete" title="Delete"  height="24" width="24"/></a>
											<a href="{{ path("undo_to_do_list_item", {"projectId" : project.projectId, "toDoListId" : toDoList.toDoListId, "itemId" : listItem.listItemId }) }}"><img src="{{ asset('img/microicons/undo_black.png') }}" alt="Undo" title="Undo" height="24" width="24"/></a>
										{% endif %}
									</li>
								{% else %}
									<li>
										{{ listItem.name }}
										<a href="{{ path("complete_to_do_list_item", {"projectId" : project.projectId, "toDoListId" : toDoList.toDoListId, "itemId" : listItem.listItemId }) }}"><img src="{{ asset('img/microicons/complete_black.png') }}" alt="Complete" title="Complete" height="24" width="24"/></a>
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
					
					<form class="todoFooter" method="post" action="{{ path("add_to_do_list_item", {"projectId" : project.projectId, "toDoListId" : toDoList.toDoListId }) }}">
						<p>{{ form_errors(forms[loop.index0].name) }}</p>
						
						<p>
							{{ form_widget(forms[loop.index0].name) }} 
							<button type="submit">+</button>
						</p>
						
						{{ form_widget(forms[loop.index0]) }}
					</form>
				</div>
			{% endif %}
		{% endfor %}
	</div>
		{% if toDoLists is empty %}
			<p class="emptyInfo">No to-do lists were added so far. Please ask the project or department admins to do so.</p>
		{% endif %}
{% endblock %}