{% extends '::base.html.twig' %}

{% block content %}
	<h1>Calendar</h1>
	
	{% block form %}{% endblock %}

	<h3>{{ month.monthName }} {{ month.year }}</h3>
	<table class="calendar">
		<tr>
			{% for weekday in weekdays %}
				<td>{{ weekday }}</td>
			{% endfor %}
			</tr>
		
			<tr>
			{% if month.days[0].weekdayNo > 1 %}
				<td colspan="{{ month.days[0].weekdayNo - 1 }}"></td>
			{% endif %}
				
			{% for day in month.days %}
				<td data-day="{{ loop.index }}" data-month="{{ month.month }}" data-year="{{ month.year }}">
					<h1>{{ loop.index }}</h1>
					<ul>
						{% for event in day.events %}
							<li
								class="event"
								{% if event.department is not null %}
									style="background-color: #{{ event.department.color }}" 
								{% endif %}
								title="	{{ event.date.format('Y-m-d') }} {% if event.time %} {{ event.time.format('H:i') }} {% endif %}
										{% if event.description %}	{{ event.description }}	{% endif %}	
									"
							>
								
								{{ event.title }}
								<a href="{{ path('edit_event',
											{
												"eventId": event.eventId,
												"projectId": project.projectId,
												"monthNo": month.month,
												"year": month.year
											})
											}}"
								>
									<img src="{{ asset('img/microicons/edit.png') }}" alt="Edit Event Icon" title="Edit Event"  height="24" width="24"/>
								</a>
								
								<a href="{{ path('delete_event',
											{
												"eventId": event.eventId,
												"projectId": project.projectId,
												"monthNo": month.month,
												"year": month.year
											})
											}}"
								>
									<img src="{{ asset('img/microicons/delete.png') }}" alt="Delete Event Icon" title="Delete Event"  height="24" width="24"/>
								</a>
							</li>
						{% endfor %}
					</ul>
				</td>
				{% if day.weekdayNo == 7 %}
					</tr>
					<tr>
				{% endif %}
			{% endfor %}
			
			{% if month.days[month.amountDays - 1].weekdayNo != 7 %}
				<td colspan="{{ 7 - month.days[month.amountDays - 1].weekdayNo }}"></td>
			{% endif %}
		<tr>
	</table>
		
{% endblock %}