{% extends '::base.html.twig' %}

{% block content %}
	<h1>Milestone Overview</h1>

	<div id="milestonePlanOptions">
		<div id="one" class="milestoneFilter one" title="Programming">&nbsp;</div>
		<a href="{{ path('add_milestone', {'projectId': milestonePlan.project.projectId, 'milestonePlanId': milestonePlan.milestonePlanId}) }}"><button id="addNewMilestoneButton">Add a milestone</button></a>
	</div>
	
	<div id="milestonePlan">
		<div id="start" title="Start">{{ milestonePlan.startDate|date('Y-m-d') }}</div>
		<div id="end" title="End">{{ milestonePlan.endDate|date('Y-m-d') }}</div>
		<div id="milestoneCanvas" data-to="{{ milestonePlan.endDate|date('Y-m-d') }}" data-from="{{ milestonePlan.startDate|date('Y-m-d') }}">
		{% for milestone in milestones %}
			<div class="milestone" style="background-color: #{{ milestone.color }};" data-from="{{ milestone.startDate|date('Y-m-d') }}" data-to="{{ milestone.endDate|date('Y-m-d') }}">
				{{ milestone.name }}
				<a href="{{ path("edit_milestone", {"projectId" : project.projectId, "milestonePlanId" : milestonePlan.milestonePlanId, "milestoneId" : milestone.milestoneId }) }}"><img src="{{ asset('img/microicons/edit.png') }}" alt="Edit" title="Edit"  height="24" width="24"/></a>
			</div>
		{% endfor %}
		</div>
	</div>
		
{% endblock %}